<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoRe</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🕸</text></svg>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block style %}

    {% endblock style %}

</head>

<body>
    <header>
        <div class="logo">
            {% load static %}
            <img src="{% static 'core\logo.png' %}" width="300px" alt="">
        </div>

        <div class="menu">
            <nav>
                <a href="{% url 'core:index' %}" class="btn">Home</a>
                <a href="{% url 'core:topicos' %}" class="btn">Topicos</a>
                <a href="{% url 'core:conversor' %}" class="btn">unidades logaritmicas</a>
                <div class="dropdown">
                    <button class="dropbtn">
                        limites fundamentais
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'core:nyquist' %}">Limite de Nyquist</a>
                        <a href="{% url 'core:shannon' %}">Capacidade de Shannon</a></a>
                    </div>
                </div>
                <a href="{% url 'core:meios' %}" class="btn">Meios de transmissão</a>
                <a href="{% url 'core:sinais' %}" class="btn">Sinais</a>
                <div class="dropdown">
                    <button class="dropbtn">
                        Modulações
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'core:modulacoes' %}">Teórica</a>
                        <a href="{% url 'core:mpsk' %}">M-PSK</a>
                        <a href="{% url 'core:mqam' %}">M-QAM</a></a>
                    </div>
                </div>
            </nav>
        </div>

    </header>

    <main>
        {% block main %}

        {% endblock main %}
    </main>

    <footer style="color: white;">
        Universidade Lusófona @ 2022
    </footer>

</body>

</html>